RUN_ADDR=:8080
LOG_LEVEL=INFO
DATABASE_DSN=postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable

POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=postgres
